table{
      font-family:Helvetica, sans-serif;
      font-weight:500;
      border-collapse: collapse;
      border-style:solid;
      border-color:cyan;
      border-width:1px;

}

h1{
    font-family:Helvetica, sans-serif;
    color:rgb(14, 63, 154);
    font-weight: 800;
    font-style:oblique;
    text-decoration: underline;
    
    
}

th{
    font-weight 800;
    background-color:cornflowerblue;
    border-color:black;
    border-style:solid;
    padding:10px;
}


td{
    border-style:solid;
    border-color:rgb(65, 119, 219);
}

b{
    color:rgb(214, 9, 9);
    font-style:italic;
}
